@import "./variables.scss";

@import "../../node_modules/materialize-css/sass/materialize.scss";



.alert {
    @extend .card;

    .alert-message {
        @extend .card-content;
    }
}

.spinner-cw {
    animation: rotate-cw 2s infinite linear;
}
.spinner-ccw {
    animation: rotate-ccw 2s infinite linear;
}

@keyframes rotate-cw {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes rotate-ccw {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}
