

$veeva-orange: #f89921;
$veeva-gray: #898b8d;
$veeva-dark-blue: #324663;
$veeva-light-gray: #f4f5f5;
$veeva-text: #444444;

$bg-light-gray: lighten($veeva-gray, 30%);

$primary-color: $veeva-orange;
$secondary-color: $bg-light-gray;


